In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('trks.txt')
df

,caseid,tname,tid
0,1,BIS/BIS,fd869e25ba82a66cc95b38ed47110bf4f14bb368
1,1,BIS/EEG1_WAV,0aa685df768489a18a5e9f53af0d83bf60890c73
2,1,BIS/EEG2_WAV,ad13b2c39b19193c8ae4a2de4f8315f18d61a57e
3,1,BIS/EMG,2525603efe18d982764dbca457affe7a45e766a9
4,1,BIS/SEF,1c91aec859304840dec75acf4a35da78be0e8ef0
...,...,...,...
486444,6388,Solar8000/VENT_PIP,2d63adbc7e2653f14348e219816673cde3358cf6
486445,6388,Solar8000/VENT_PPLAT,6f6604255858ddc8f6a01b9f4774b0d43105f6da
486446,6388,Solar8000/VENT_RR,f34f3fae7fd963355c1c7060e1e876d20fa87536
486447,6388,Solar8000/VENT_SET_TV,4a4a55b8aebf9c76a4a76f62a7c1ec6fcb80e618
486448,6388,Solar8000/VENT_TV,77453bd3c4bf24ce13e577781a51929281f3b7f2

In [9]:
df['tname2'] = df['tname'].str.split('/').str[1]
df['tname'] = df['tname'].str.split('/').str[0]

In [10]:
df.groupby(['caseid', 'tname']).count().max()

tid       42
tname2    42
dtype: int64

In [11]:
df['tname'].unique()

array(['BIS', 'Primus', 'SNUADC', 'Solar8000', 'Orchestra', 'FMS',
       'Vigilance', 'EV1000', 'CardioQ', 'Vigileo', 'Invos'], dtype=object)

In [13]:
df['tname2'].str.len().argmax()

315

In [15]:
df.iloc[315]

caseid                                           5
tname                                          FMS
tid       678b14a8100e87a9e258652b0427f0c7658d18e1
tname2                             OUTPUT_AMB_TEMP
Name: 315, dtype: object

In [18]:
df[df['caseid']==5]

     caseid      tname                                       tid      tname2
304       5        BIS  6bde4584a9276ef93a637ff1e51a4375349ba420         BIS
305       5        BIS  94450301875a2acb3cf56e621ed9fc4bb7ecc786    EEG1_WAV
306       5        BIS  e7b6798021cb3e108cd213afe94f8f668e285f56    EEG2_WAV
307       5        BIS  1d50194a5a1f1c081ad4c42078e9d61216711adb         EMG
308       5        BIS  acefb7d176a17f2d72a2886a2f7904bb64a5bac5         SEF
..      ...        ...                                       ...         ...
396       5  Solar8000  00f3117f227771a3ebdeea0a86a9cb6814de8714     VENT_MV
397       5  Solar8000  b608a8ee7acd530efdfc1590abbea6a5f5938027    VENT_PIP
398       5  Solar8000  81a63b8f638bada5928f2a9cb5db8f89ac2fced0  VENT_PPLAT
399       5  Solar8000  93f856b8ecb79534afa18aeb83f49001e51f16a9     VENT_RR
400       5  Solar8000  91c9e570310c5053efe7b931bbf4347641eb7431     VENT_TV

[97 rows x 4 columns]

In [23]:
df[(df['tname'] == 'FMS')&(df['caseid']==5)]

     caseid tname                                       tid           tname2
312       5   FMS  f0ccd35c2f4ec779c9da74410a3bd3c0d06ee2d6        FLOW_RATE
313       5   FMS  30be8515b78b13e7359580b7ed0450ed0f88e12f   INPUT_AMB_TEMP
314       5   FMS  11644b21858c813ec93a24355ea4ed4f16ded8d5       INPUT_TEMP
315       5   FMS  678b14a8100e87a9e258652b0427f0c7658d18e1  OUTPUT_AMB_TEMP
316       5   FMS  f1bb70ed438f98d1c473b7571c1ef45a016edfb3      OUTPUT_TEMP
317       5   FMS  d33fe880f7dbe62a19f2f911592bc4c5daf507c0         PRESSURE
318       5   FMS  325c1d0728fd23883c2d3d8b4b25657283dec364        TOTAL_VOL